.box-content {
  margin: 30px;
}

.box-content p {
  margin-bottom: 10px;
}

.box-content ol {
  margin-left: 25px;
  margin-right: 25px;
}

.bookmark {
  margin-top: 15px;
}

.video-watched-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 0.7rem !important;
  margin-left: 5px;
  height: 1.25rem !important;
  float: right;
}
