version: 2
updates:
  - package-ecosystem: "npm"
    open-pull-requests-limit: 20
    directory: "/"
    schedule:
      interval: "monthly"
    assignees:
      - shepherdjerred
    reviewers:
      - shepherdjerred
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    assignees:
      - shepherdjerred
    reviewers:
      - shepherdjerred
